[submodule "SharpCollection"]
	path = SharpCollection
	url = https://github.com/Flangvik/SharpCollection
[submodule "AMSITrigger"]
	path = AMSITrigger
	url = https://github.com/RythmStick/AMSITrigger
[submodule "Shoggoth"]
	path = Shoggoth
	url = https://github.com/frkngksl/Shoggoth
[submodule "Invoke-TheHash"]
	path = Invoke-TheHash
	url = https://github.com/Kevin-Robertson/Invoke-TheHash
[submodule "PsMapExec"]
	path = PsMapExec
	url = https://github.com/The-Viper-One/PsMapExec.git
[submodule "ROADtools"]
	path = ROADtools
	url = https://github.com/dirkjanm/ROADtools
[submodule "PowerSharpPack"]
	path = PowerSharpPack
	url = https://github.com/S3cur3Th1sSh1t/PowerSharpPack.git
[submodule "impacket-examples-windows"]
	path = impacket-examples-windows
	url = https://github.com/maaaaz/impacket-examples-windows
[submodule "CrackMapExecWin"]
	path = CrackMapExecWin
	url = https://github.com/maaaaz/CrackMapExecWin.git
[submodule "PowerUpSQL"]
	path = PowerUpSQL
	url = https://github.com/NetSPI/PowerUpSQL.git
[submodule "venom-rs"]
	path = venom-rs
	url = https://github.com/memN0ps/venom-rs.git
[submodule "Evasion/BestEdrOfTheMarket"]
	path = Evasion/BestEdrOfTheMarket
	url = https://github.com/Xacone/BestEdrOfTheMarket.git
